.App {
  font-family: sans-serif;
  text-align: center;
  color: black;
}
h1 {
  color: black;
  font-size: 70px;
}
button {
  color: black;
  font-size: 70px;
}
body {
  background: hsl(339, 19%, 79%);
  background: -webkit-linear-gradient(to right, #c5c7d6, #37bac3);
  background: linear-gradient(to right, #c5c7d6, #37bac3);
  color: #130d0da6;
  font-family: "Roboto", sans-serif;
}

input {
  background: border-box;
  color: black;
  border-top: none;
  width: 200px;
  padding: 20px;
  font-size: 50px;
}

button {
  background: content-box;
  color: #131010a6;
  border: 20px;
}
